<header class="mdl-layout__header mdl-layout__header--scroll" style="background-color: #{{ page.color }}">
  <div class="mdl-layout__header-row">
    <a href="{{site.index[page.lang]}}" class="logo-svg">
      <svg aria-hidden="true" viewBox="0 0 24 24">
        <path d="M11,19c3.313,0,6-2.687,6-6h2c0,4.418-3.582,8-8,8c-4.418,0-8-3.582-8-8c0-4.418,3.582-8,8-8v2c-3.313,0-6,2.687-6,6
  S7.687,19,11,19 M15.854,6.594c0.828,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5S15.025,6.594,15.854,6.594z" />
      </svg>
    </a>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      {% for menu in site.t[page.lang] %}
      <a class="mdl-navigation__link" href="{{ site.baseurl }}{{ menu[1].url }}">{{ menu[1].name }}</a>
      {% endfor %}
    </nav>
  </div>
</header>