<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>
    {% if page.uid == "home" %}
    {{ site.title }} &middot; {{ site.description[page.lang] }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="author" content="{{ site.title }}">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/img/manifest.json">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#3f51b5">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <meta name="msapplication-config" content="/img/browserconfig.xml">
  <meta name="theme-color" content="#{{ page.color }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.min.css">
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
   <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.min.css">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.url }}{{ site.baseurl }}{{ site.atom[page.lang] }}">
  {% assign posts = site.posts | where:"uid", page.uid | sort: 'lang' %}
  {% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
  {% endfor %}
  {% assign pages=site.pages | where:"uid", page.uid | sort: 'lang' %}
  {% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
  {% endfor %}
</head>