{% assign url = page.url | downcase | split: '/' %} {% assign current = url[0] |
append: '/' | append: url[1] %}
<nav
  class="sticky top-0 flex justify-between items-center w-full max-w-4xl mx-auto bg-white px-8 py-4 border-b border-gray-200"
>
  <a href="/" class="hover:text-blue-500">
    <svg
      class="w-10 h-10 fill-current"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <defs />
      <path
        d="M11 19a6 6 0 006-6h2a8 8 0 11-8-8v2a6 6 0 000 12m4.854-12.406a1.5 1.5 0 11-.001 3.001 1.5 1.5 0 01.001-3.001z"
      />
    </svg>
  </a>
  <div>
    <a
      class="p-1 sm:p-4 hover:text-blue-600 transition-colors {% if current == '/' %}text-blue-500{% endif %}"
      href="/"
      >Home</a
    >
    <a
      class="p-1 sm:p-4 hover:text-blue-600 transition-colors {% if current == '/blog' %}text-blue-500{% endif %}"
      href="/blog"
      >Blog</a
    >
    <a
      class="p-1 sm:p-4 hover:text-blue-600 transition-colors {% if current == '/about' %}text-blue-500{% endif %}"
      href="/about"
      >About</a
    >
  </div>
</nav>
