<div class="questions mdl-color--grey-200 mdl-color-text--grey-600 mdl-typography--text-center">
  {% if page.lang == 'en' %}
  <h3>Questions?</h3>
  <p>Have a question about this post or anything else? ping me on <a href="https://twitter.com/ocordova">Twitter</a> or in my <a href="https://github.com/ocordova/ama">AMA repo</a>.</p>
  {% endif %}
  {% if page.lang == 'es' %}
  <h3>¿Preguntas?</h3>
  <p>¿Tienes alguna pregunta acerca de esta entrada o cualquier otra cosa? contáctame por <a href="https://twitter.com/ocordova">Twitter</a> o en mi <a href="https://github.com/ocordova/ama">AMA repo</a>.</p>
  {% endif %}
</div>