@tailwind base;
@tailwind components;
@tailwind utilities;
@import './prism.css';

@layer components {
  .text-colorized {
    @apply animate-colorized bg-clip-text text-transparent;
  }
}

#__next {
  min-height: 100%;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-sky {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f2c, #f2c);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
