// *****************
// Color Variables
// *****************
$primary-color: #2699fb;
$secondary-color: #001737;
$default: #3c4257;
$dark: #1a1f36;
$gray: #697386;
$gray-dark: #999;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
