<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="bg-white antialiased text-gray-600 max-w-4xl mx-auto">
    {% include header.html%}
    <main class="max-w-2xl mx-auto pt-8 lg:pt-16 px-8">{{ content }}</main>
    {% include footer.html %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"
      integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/zoom-vanilla.js/dist/zoom-vanilla.min.js"></script>
  </body>
</html>
